.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #f9f7f7;
  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  color: white;
}

h1, h3 {
    color: #112d4e;
    margin: 5px;
}

a:visited {
    color: #3f72af;
}

h5 {
    color: #3f72af;
    margin: 0;
}

.search-result {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-content: center;
    background-color: #dbe2ef;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    margin-top: 20px;
}

.single-search-result {
    height: 20vh;
    background-color: #f9f7f7;
    margin: 1px;
    padding: 5px 20px 5px 20px;
}

#search {
    padding: 10px;
}

#addname {
    border: none;
    padding: 10px;
    width: 90%;
    background-color: #f9f7f7;

}

.winner {
    background-color: pink;
}

.voting {
    background-color: #f9f7f7;
    margin: 1px;
}

.picked {
    background-color: #3f72af;
    margin: 1px;
}



.btn {
    background-color: #3f72af;
    padding: 10px 20px;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
    position: relative;
    color: #f2f4fb;
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    box-shadow: 3px 3px #dbe2ef;
    z-index: 2;
}

.btn:hover {
  box-shadow: 1px 1px #dbe2ef;
  top: 1px;
}

.btn:active {
  box-shadow: none;
  top: 1px
}


.App-link {
  color: #61dafb;
}




.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: pink;
  transform: rotateY(180deg);
}
